<form action="login" method="post">
  <div>
      <label>Логин</label>
      <input type="text" name="username" />
  </div>
  <div>
      <label>Пароль</label>
      <input type="password" name="password" />
  </div>
  <div>
      <input type="submit" value="Авторизоваться" />
      <button>
          <a href="signup" style="text-decoration: none; color: #000">Зарегистрироваться</a>
      </button>
  </div>

</form>