<form action="signup" method="post">
  <div>
      <label>Логин:</label>
      <input type="text" name="username" />
  </div>
  <div>
      <label>Пароль:</label>
      <input type="password" name="password" />
  </div>
  <div>
      <label>Имя:</label>
      <input type="text" name="displayName" />
  </div>
  <div>
      <label>Email:</label>
      <input type="email" name="email" />
  </div>
  <div>
      <input type="submit" value="Зарегистрироваться" />
      <button>
          <a href="login" style="text-decoration: none">Назад</a>
      </button>
  </div>

</form>